html { 
    
    height: 80vh;
    background-color:rgb(255, 255, 255)
}

body { 
    display: flex; 
    align-items: normal;
    justify-content: normal;   
    margin: 15%;
    width: 1000px;
    height: 500px;
    background: rgb(4, 63, 1);
    border-radius: 4cm;
    
    
}

article {
    
    position: static;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {

margin-top: 7.5%;
margin-left: 15.5%;
border-radius: 2cm;
}

h1 {

    margin-left: 13%;
    margin-top: 2%;
    font-family: cursive;
    font-size: 25px; 
    color:rgb(218, 210, 160);


}

h2 {

    margin-left: 21%;
    margin-top:  -1%;
    font-family: cursive ;
    font-size:20px;
    color:rgb(218, 210, 160);

}

p1 {


    margin-left: 15%;
    margin-top: 0%;
    font-family: cursive;
    color:rgb(218, 210, 160);

}

    

    




}


